.header {
    height: var(--headerHeight);
    width: 100%;
    background-color: var(--bgColor);
    border-bottom: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        outline: none;
        border: none;
        background: transparent;
        color: var(--textColor);
        cursor: pointer;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        cursor: pointer;

        &-version {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h1 {
                margin: 0 0 0 5px;
                font-size: 25px;
            }
            
            span {
                font-size: 10px;
                margin-left: 5px;
            }
        }



        span.material-symbols-outlined {
            font-size: 40px;
            margin-top: 3px;
            color: var(--textColor);
            transform: translateX(2px);
        }
    }
}