.header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--bgColor);
    border-bottom: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        outline: none;
        border: none;
        background: transparent;
        color: var(--textColor);
        cursor: pointer;
    }
}