.code-snippet {
    display: flex;
    position: relative;
    width: 100%;

    code {
        border-radius: 12px;
        padding-top: 60px !important;
        box-shadow: -2px 4px 3px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: -2px 4px 3px 1px rgba(0, 0, 0, 0.5);
        width: 100%;
    }
    
    .header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--borderColor);
        width: 100%;
        padding: 6px 0;
        
        .mac-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            margin-left: 10px;

            .red {
                background-color: rgb(202, 75, 75);
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
            
            .yellow {
                background-color: rgb(225, 182, 96);
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
        
            .green {
                background-color: rgb(92, 183, 92);
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
        }
    
        .copy {
            border: 0;
            background: transparent;
            color: white;
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }
    }
}
