<pre>

    <div class="code-snippet">
        <div class="header">
            <div class="mac-buttons">
                <div class="red"></div>
                <div class="yellow"></div>
                <div class="green"></div>
            </div>
            <button class="copy" (click)="onCopy()">
                <span class="material-symbols-outlined">
                    content_copy
                    </span>
            </button>
        </div>

        <code [highlight]="code" [languages]="['html', 'js', 'css', 'scss']" [lineNumbers]="true">
        </code>
    </div>

</pre>