nav {
    width: var(--navbarWidth);
    height: 100%;
    background-color: var(--bgColor);
    position: fixed;
    border-right: 1px solid var(--borderColor);
    transform: translateX(-250px);
    transition: transform 0.15s;

    &.open {
        transform: translateX(0);
      }

    ul {
        list-style: none;
        padding: 0;

        a {
            color: var(--textColor);
            text-decoration: none;

            li {
                padding: 5px 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                cursor: pointer;
                &:hover {
                    background-color: var(--bgColorSecondary);
                }
            }
        }


    }
}