<nav [ngClass]="{open: open}">
    <ul>
        <a routerLink="/box-shadow" routerLinkActive="active">
            <li>
                <span class="material-symbols-outlined">
                    shadow
                </span>
                <p>Box Shadow</p>
            </li>
        </a>
        <a routerLink="/border" routerLinkActive="active">
            <li>
                <span class="material-symbols-outlined">
                    border_style
                </span>
                <p>Border / Outline</p>
            </li>
        </a>
    </ul>
</nav>