.view {
    padding: 20px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        h1 {
            margin: 0;
            font-size: 35px;
            font-weight: 600;
        }

        button {
            border: 1px solid var(--borderColor);
            border-radius: 4px;
            background: transparent;
            padding: 2px;
            cursor: pointer;
            transition: background-color 0.2s;
            width: 35px;
            height: 35px;

            span {
                font-size: 25px;
                color: var(--textColor);
                opacity: 0.5;
            }

            &:hover{
                background-color: var(--bgColor);
                transition: background-color 0.2s;
            }
        }
    }

    &__content {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

        &__version {
            h2 {
                font-size: 28px;
            }

            ul {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
            

        &__options {
            @media screen and (max-width: 768px) {
               width: 100%;
            }
            width: 50%;
            display: flex;
            justify-content: flex-start;

            &__card {
                width: 100%; 
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                border: 1px solid var(--borderColor);
                background-color: var(--bgColor);
                padding: 15px;

                .option {
                    margin: 10px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .color {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                    }
    
                    &__title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        button {
                            border: 1px solid var(--borderColor);
                            border-radius: 4px;
                            background: transparent;
                            padding: 2px;
                            cursor: pointer;
                            transition: background-color 0.2s;
    
                            span {
                                font-size: 18px;
                                color: var(--textColor);
                                opacity: 0.5;
                            }
    
                            &:hover{
                                background-color: var(--bgColorSecondary);
                                transition: background-color 0.2s;
                            }
                        }
                    }
                }
            }

            
        }

        &__preview {
            width: 50%; 
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media screen and (max-width: 768px) {
                width: 100%;
             }
        }
    }
}